/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.btn {
  margin:5px;
  text-align: center;
  vertical-align: middle;
}
.btn-small {
  line-height: 25px;
  height: 25px;
  font-size: 12px;
}
.btn-small-text {
  position:relative;
  bottom: 5px;
}

p {
  line-height: 1.5rem;
}

div.head-container {
  text-align: center;
}

h1.header {
  font-size: 75px;
}

h5.header, h1.header {
  text-shadow: -2px -1px #fff;
  text-align: center;
}

h5.header{
  font-size: 1.7rem;
  line-height: 1.7rem;
  font-weight: 700;
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
  height: 1.33rem;
  margin: 7px;
  margin-right: 50px;
  width: 90%;
}

.card {
  border-radius: 5px;
  min-width: 350px;
  max-width: 350px;
  border: 1px solid #1fd9d0;
}
.card .card-title {
  font-weight: 500;
}
.card .card-content {
  padding: 10px;
}
.card .card-content .card-title {
  line-height: 25px;
}
.card .card-action {
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
}
.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
  }
  html{
    font-size: 13px;
  }
  div.head-container {
    text-align: left;
  }
  h1.header {
    text-align: left;
  }
  h5.header {
    text-align: left;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .card {
    min-width:200px;
  }
  html{
    font-size: 12px;
  }
  div.head-container {
    text-align: left;
  }
  h1.header {
    text-align: left;
  }
  h5.header {
    text-align: left;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.bright-pink-text {
  color: #fa64c4;
}

#parallax_1 img {
  bottom: -15%;
  right:25px;

}

/* Class for when element is above threshold */
 .pin-top {
   position: relative;
 }

 /* Class for when element is below threshold */
 .pin-bottom {
   position: absolute;
 }

 /* Class for when element is pinned */
 .pinned {
   position: fixed !important;
 }
